# IDE
.idea/*
.vscode/*
# Project
.cpcache
out
kamestery.com
# Golang
vendor
bin
server
# Clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
