node_modules/
public/js
dist
/target
/checkouts
/src/gen
/static/js/cljs-runtime
dist/
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.cpcache
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
/app.js
/static/js/manifest.edn
/static/js/main.js
