// MDC THEME(S)
$mdc-theme-primary: #8B008B;
$mdc-theme-on-primary: #feeae6;
//$mdc-theme-secondary: #feeae6;
//$mdc-theme-on-secondary: #442b2d;

// MDC IMPORTS
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/chips/mdc-chips";
@import "@material/icon-button/mdc-icon-button";
@import "@material/fab/mdc-fab";

// COLOR SCHEME
// NOTE: SHOULD ALIGN WITH MDC THEME DEFINED ABOVE
.primary {
  color: #8B008B;
}
.bg-primary {
  background-color: #8B008B;
}

// TACHYONS ++
// STYLES THAT ARE NOT IN TACHYONS LIBRARY
.tw {
  overflow-wrap: break-word;
}
.mw4-5 {
  max-width: 21.875rem;
}

.mht-1 {
  max-height: 1.75rem;
}

.invisible-scrollbar {
  overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

// SECTION DIVIDERS
.sec-hr-xs {
  border-width: .5px;
  margin: 1rem auto;
  width: 100%;
  opacity: .5;
}
.sec-hr-sm {
  border-width: .5px;
  margin: 1.25rem auto;
  width: 100%;
  opacity: .5;
}
.sec-hr-lg {
  border-width: .5px;
  margin: 1.5rem auto;
  width: 100%;
  opacity: .5;
}
.sec-hr-xl {
  border-width: .5px;
  margin: 2rem auto;
  width: 100%;
  opacity: .5;
}

// GLOBAL
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
}
.stl-bg {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/swirl.png");
}

/*
RESPONSIVE GRID LAYOUT
NOTE: ONLY USE IF DESIRED RESULT CAN'T BE IMPL W/ TACHYONS
xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger
*/
@media only screen and (min-width: 0) and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {
}