// MDC THEME(S)
$mdc-theme-primary: #8B008B;
$mdc-theme-on-primary: #feeae6;
//$mdc-theme-secondary: #feeae6;
//$mdc-theme-on-secondary: #442b2d;

// MDC IMPORTS
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/chips/mdc-chips";
@import "@material/icon-button/mdc-icon-button";
@import "@material/fab/mdc-fab";
@import "@material/textfield/icon/mdc-text-field-icon";

// COLOR SCHEME
// NOTE: SHOULD ALIGN WITH MDC THEME DEFINED ABOVE
.primary {
  color: #8B008B;
}

.bg-primary {
  background-color: #8B008B;
}

.bg-light {
  background-color: #f8f3ff;
}

// TACHYONS ++
// STYLES THAT ARE NOT IN TACHYONS LIBRARY
.tw {
  overflow-wrap: break-word;
}

.mw4-5 {
  max-width: 21.875rem;
}

.mht-1 {
  max-height: 1.75rem;
}

.invisible-scrollbar {
  overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.w-48{
  width: 48%;
}

.mw-200 {
  width: 12.5rem;
}

.min-h-4 {
  min-height: 4rem;
}

.pre-line {
  white-space: pre-line;
}

.fit-cover{
  object-fit: cover;
}

.mx-h-10 {
  max-height: 10rem;
}

.z-index-200 {
  z-index: 200;
}

// STRUCTURE ADJUSTMENT
#side-bar-fixed {
  max-width: 12.5rem; // 200px
  min-width: 11rem;
  width: 15%;
}

// SECTION DIVIDERS
.sec-hr-xs {
  border-width: .5px;
  margin: 1rem auto;
  width: 100%;
  opacity: .5;
}

.sec-hr-sm {
  border-width: .5px;
  margin: 1.25rem auto;
  width: 100%;
  opacity: .5;
}

.sec-hr-lg {
  border-width: .5px;
  margin: 1.5rem auto;
  width: 100%;
  opacity: .5;
}

.sec-hr-xl {
  border-width: .5px;
  margin: 2rem auto;
  width: 100%;
  opacity: .5;
}

// LIGHT
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9fa;
  //background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
}

a {
  text-decoration: none;
  color: inherit;
}

.stl-bg {
  object-fit: cover;
  background-color: #f8f3ff;
  background:linear-gradient(0deg, rgb(25, 0, 25), rgb(58, 1, 58)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-FxOwTgAg2Tt3qzo7YpRl_Agz0HGnYnx");
  background-size: cover;
}


@media (prefers-color-scheme: dark)
{
  $dark: #190019;
  $med: #3a013a;
  $light: #274c65;
  // COLOR SCHEME
  // NOTE: SHOULD ALIGN WITH MDC THEME DEFINED ABOVE
  .primary {
    color: #fcfcfa;
  }

  .bg-primary {
    background-color: #8b008b;
  }

  #side-bar-fixed {
    color: #fcfcfa
  }

  // DARK
  body {
    background-color: $dark;
    color: #fcfcfa;
    //background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png");
  }

  footer {
    background-color: $dark;
  }

  #app-bar {
    background-color: $med;
  }

  #hero{
    background-color: $med;
  }

  .mdc-card {
    //background-color: $med;
    background-color: var(--mdc-theme-surface, $med);
  }

  .mdc-chip {
    background-color: #3b3539;
  }

  .mdc-drawer {
    background-color: $dark;
  }

  .mdc-drawer .mdc-list-item, .mdc-drawer .mdc-drawer__subtitle {
    color: #fcfcfa;
  }
}



/*
RESPONSIVE GRID LAYOUT
NOTE: ONLY USE IF DESIRED RESULT CAN'T BE IMPL W/ TACHYONS
xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger
*/
@media only screen and (min-width: 0) and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .menu-adjust {
    padding-left: 15%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  .menu-adjust {
    padding-left: 13%;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {
  .menu-adjust {
    padding-left: 10%;
  }
}