{{ define "app-bar.html" }}

<header class="mdc-top-app-bar app-bar" id="app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
            <span class="mdc-top-app-bar__title">
                <h3 class="title">
                    <i class="fas fa-flask"></i>
                    <a href="/" id="logo-text">KAMESTERY</a>
                </h3>
            </span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            {{with UserKm .reqCtx}}
                <a href="#profile" class="user-profile-btn" aria-label="Profile"
                   alt="Profile">{{ .UserId }}</a><!-- TODO: Fix the styling and the link for the user display and profile -->
            {{else}}
                <a href="/user/register" class="material-icons mdc-top-app-bar__action-item" aria-label="Register"
                   alt="Register">person_add</a>
                <a href="/user/login" class="material-icons mdc-top-app-bar__action-item" aria-label="Login"
                   alt="Login">account_circle</a>
            {{end}}
            {{if UserKm .reqCtx}}
                <form action="/user/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{ .csrf }}">
                    <button class="mdc-button mdc-button--raised mdc-button--accent login">
                        Logout
                    </button>
                </form>
            {{end}}
        </section>
    </div>
</header>

{{ end }}

