{{ define "card.html" }}

<div class="my-card mdc-card">
    <div class="my-card_media mdc-card__media mdc-card__media--16-9">
        <div class="mdc-card__media-content">{{.title}}</div>
    </div>
    <!-- ... content ... -->
    <div class="mdc-card__actions mdc-card__actions--full-bleed">
        <a class="mdc-button mdc-card__action mdc-card__action--button" href="/article">
            View Article
            <i class="material-icons" aria-hidden="true">arrow_forward</i>
        </a>
    </div>
</div>
{{ end }}

