{{ define "card.html" }}

<div class="my-card mdc-card">
    <div class="my-card__media mdc-card__media mdc-card__media--16-9">
        <div class="mdc-card__media-content">{{.title}}</div>
    </div>
    <!-- ... content ... -->
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
            <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
        </div>
    </div>
</div>
{{ end }}

