{{ define "primary-menu.html" }}

<aside id="main-menu" class="mdc-drawer mdc-drawer--dismissible"> <!-- TODO remove inline style -->
    <div class="mdc-drawer__content">
        <div class="mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" href="/" aria-selected="true">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                <span class="mdc-list-item__text">Home</span>
            </a>
            <a class="mdc-list-item" href="/user/register">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person_add</i>
                <span class="mdc-list-item__text">Register</span>
            </a>
            <a class="mdc-list-item" href="/user/login">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
                <span class="mdc-list-item__text">Login</span>
            </a>
        </div>
    </div>
</aside>

{{ end }}

