@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

//global

body {
  font-family: 'Roboto';
  margin: 0;
  display: flex;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

// center-layout
.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.center-container {
  margin-top: 75px;
}

// main-layout
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
}

.form-button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.form-button-container button {
  margin: 3px;
}

// home styles
.my-card{
  margin: 20px;
}
.my-card__media {
  background-image: url("https://via.placeholder.com/350x250");
}


// login & register styles
.email,
.confirm-password,
.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}