@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";

body {
  font-family: 'Roboto';
  margin: 0;
}

//global
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 75px;
}

.form-button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.form-button-container button {
  margin: 3px;
}

// home styles

// login & register styles
.confirm-password,
.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}




