<!-- login.html -->

{{ define "public/content.html" }}

<!-- BEGIN COMMON TEMPLATE CODE -->
{{ template "global-header.html" . }}
<!-- END COMMON TEMPLATE CODE -->

<div class="style-ribbon"></div>

{{range .documents }}

<section class="article-main mdc-layout-grid"> <!-- removed: (mdc-layout-grid)-->
    <div class="article-container mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8"></div>
        <div class="article-content mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <div id="article-header-img">
                <img class="responsive-image" src="https://via.placeholder.com/750x250" alt="media image">
            </div>
            <h1>{{.Title}}</h1>
            <p>{{.Body}}</p>
        </div>
    </div>
</section>

{{end}}

{{/*<section class="article-list-container">*/}}
    {{/*<h3 class="section-title">More</h3>*/}}
    {{/*<div class="card-container"> <!-- flex container -->*/}}
        {{/*<!-- TODO: POPULATE LIST OF TOPICS -->*/}}
    {{/*</div>*/}}
{{/*</section>*/}}


<!-- Embed Footer -->
{{ template "footer.html" . }}

{{ end }}
