<!-- home.html -->

{{ define "public/content-tag-list.html" }}

<!-- BEGIN COMMON TEMPLATE CODE -->
{{ template "global-header.html" . }}
<!-- END COMMON TEMPLATE CODE -->

<div class="main-container"> <!-- flex container -->
    <div class="menu-container"> <!-- flex el -->

    {{$content_map := getLatestContentMapByTopic}}

        <nav class="page-menu mdc-drawer mdc-drawer--permanent">
            <div id="page-menu-content"> <!-- fixed positioning -->
                <div class="mdc-drawer__content">

                    <div class="mdc-list">
                        <h3 class="menu-title">Topics</h3>
                    {{ range $a, $topic := getTopics}}
                        <a class="mdc-list-item side-menu-item" href="/content-list-topic/{{$topic}}">
                        {{$topic}}
                        </a>
                    {{end}}
                    </div>

                    {{/*<hr class="section-divider">*/}}

                    {{/*<div class="mdc-list">*/}}
                        {{/*<h4 class="menu-title">Tags</h4>*/}}
                    {{/*{{range $i, $tag := AllTags $content_map}}*/}}
                        {{/*<a class="side-menu-item mdc-list-item" href="/content-list-tag/{{$tag}}">*/}}
                        {{/*{{$tag}}*/}}
                        {{/*</a>*/}}
                    {{/*{{end}}*/}}
                    {{/*</div>*/}}

                </div>
            </div>
        </nav>
    </div>

    <div class="content-container"> <!-- flex el -->
        <!--BEGIN CONTENT LOOP -->
        <h1 class="section-title">Documents for tag: {{.tag}}</h1>
    {{ range $topic, $content := $content_map }}
    {{if $content.Documents}}
        <section id="{{getTopicSectionId $topic}}">
            <h1 class="section-title">{{$topic}}</h1>
            <div class="card-container"> <!-- flex container -->
                <!--BEGIN DOCUMENT LOOP -->
            {{ range $content.Documents}}
                {{ template "document-card.html" . }}
            {{end}}
            </div>
        </section>
        <div class="view-button">
            <a class="mdc-button mdc-button--raised" href="/content-list-topic/{{$topic}}">View All</a>
        </div>
        <hr class="section-divider">
    {{end}}
        <!--END CONTENT LOOP -->
    {{ end }}
    </div>

    <div id="mobile_menu" class="toolbar mdc-menu-surface--anchor">
        <button id="mobile_menu_btn" class="mdc-fab" aria-label="View List">
            <span class="mdc-fab__icon material-icons">view_list</span>
        </button>
        <div class="mdc-menu mdc-menu-surface" tabindex="-1">
            <div>
                <ul id="mobile_menu_list" class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                {{ range $a, $topic := getTopics}}
                    <li role="menuitem" class="mdc-list-item" onclick="location.href='#{{getTopicSectionId $topic}}'">
                    {{$topic}}
                    </li>
                {{end}}
                </ul>
            </div>

        </div>
    </div>

</div>

<!-- Embed Footer -->
{{ template "footer.html" . }}

{{ end }}

