<!-- home.html -->

{{ define "public/home.html" }}

<!-- BEGIN COMMON TEMPLATE CODE -->
{{ template "global-header.html" . }}
<!-- END COMMON TEMPLATE CODE -->

<div class="main-container"> <!-- flex container -->
    <div class="menu-container"> <!-- flex el -->

        {{ $content_map := getLatestContentMapByTopic getTopics}}

        <nav class="page-menu mdc-drawer mdc-drawer--permanent">
            <div id="page-menu-content"> <!-- fixed positioning -->
                <h3 class="menu-title">
                {{/*<i class="fas fa-home"></i>*/}}
                    Topics
                </h3>
                <div class="mdc-drawer__content">
                    <nav class="mdc-list">
                    {{ range $a, $topic := getTopics}}
                        <a class="mdc-list-item" href="#{{getTopicSectionId $topic}}">
                        {{$topic}}
                        </a>
                    {{end}}
                    <h4 class="menu-title">
                        {{/*<i class="fas fa-home"></i>*/}}
                        Tags
                    </h4>
                    <div class="mdc-list">
                        {{range $i, $topic_tag := TopicTags $content_map}}
                            <a class="mdc-list-item" href="/content-list-tag{{$topic_tag}}">
                                {{$topic_tag}}
                            </a>
                        {{end}}
                    </div>
                    </nav>
                </div>
            </div>
        </nav>
    </div>

    <div id="home-content-container"> <!-- flex el -->
        <!--BEGIN CONTENT LOOP -->
    {{ range $topic, $content := $content_map }}
    {{if $content.Documents}}

        <section id="{{getTopicSectionId $topic}}">
            <h1 class="section-title">{{$topic}}</h1>
            <div class="card-container"> <!-- flex container -->
                <!--BEGIN DOCUMENT LOOP -->
            {{ range $content.Documents}}
                <div class="document-card mdc-card">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="document-card-content">
                            <h2>{{.Title}}</h2>
                            <p>author: {{.Metadata.Identification.UserId}}</p>
                            <div>
                            {{.Body}}
                            </div>
                        </div>
                    {{$topic := .Metadata.Identification.Identifier}}
                        <div class="mdc-chip-set">
                        {{range $i, $tag := .Metadata.Identification.Tags}}
                        <div class="mdc-chip" tabindex="{{$i}}">
                            <div class="mdc-chip__text">
                                <a class="tag-link" href="/content-list-tag/{{$topic}}/{{$tag}}">
                                {{$tag}}
                                </a>
                            </div>
                        </div>
                        {{end}}
                        </div>
                    </div>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                            <!-- TODO: REPLACE HARDCODED TOPIC 'default' -->
                            <a class="mdc-button mdc-card__action mdc-card__action--button"
                               href="/content/{{$topic}}/{{.Slug}}">
                                Read Article
                            </a>
                        </div>
                    </div>
                </div>
            {{end}}
            </div>
        </section>
        <div class="view-button">
            <a class="mdc-button" href="/content-list-topic/{{$topic}}">View All</a>
        </div>

    {{end}}
        <!--END CONTENT LOOP -->
    {{ end }}
    </div>

    <div id="mobile_menu" class="toolbar mdc-menu-surface--anchor">
        <button id="mobile_menu_btn" class="mdc-fab" aria-label="View List">
            <span class="mdc-fab__icon material-icons">view_list</span>
        </button>
        <div class="mdc-menu mdc-menu-surface" tabindex="-1">
            <div>
                <ul id="mobile_menu_list" class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                {{ range $a, $topic := getTopics}}
                    <li role="menuitem" class="mdc-list-item" onclick="location.href='#{{getTopicSectionId $topic}}'">
                    {{$topic}}
                    </li>
                {{end}}
                </ul>
            </div>

        </div>
    </div>

</div>

<!-- Embed Footer -->
{{ template "footer.html" . }}

{{ end }}

