{{ define "public/home.html" }}

<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://get.mavo.io/mavo.css" />
</head>

<body>
    <div mv-app id="kamestery">
        <h1>{{ .title }}</h1>
        
        <!-- Why won't paragraph content display? -->
        <p>Test</p>
    </div>
    <script src="https://get.mavo.io/mavo.js"></script>
    <script src="static/js/ui.js"></script>
</body>

</html>

{{ end }}