<!-- home.html -->

{{ define "public/home.html" }}

<!-- BEGIN COMMON TEMPLATE CODE -->
{{ template "global-header.html" . }}
<!-- END COMMON TEMPLATE CODE -->

<div class="main-container"> <!-- flex container -->
    <div class="menu-container"> <!-- flex el -->

        <nav class="page-menu mdc-drawer mdc-drawer--permanent">
            <div id="page-menu-content"> <!-- fixed positioning -->
                <h3 class="menu-title">
                    <i class="fas fa-home"></i>
                    Home
                </h3>
                <div class="mdc-drawer__content">
                    <nav class="mdc-list">
                        <a class="mdc-list-item" href="#section1">
                            Section One
                        </a>
                        <a class="mdc-list-item" href="#section2">
                            Section Two
                        </a>
                        <a class="mdc-list-item" href="#section3">
                            Section Three
                        </a>
                    </nav>
                </div>
            </div>
        </nav>

    </div>

    <div id="home-content-container"> <!-- flex el -->
        <section id="section1">
            <h1 class="section-title">Section One</h1>
            <div class="card-container"> <!-- flex container -->
            {{template "card.html"}}
            {{template "card.html"}}
            </div>
        </section>

        <section id="section2">
            <h1 class="section-title">Section Two</h1>
            <div class="card-container"> <!-- flex container -->
            {{template "card.html"}}
            {{template "card.html"}}
            </div>
        </section>

        <section id="section3">
            <h1 class="section-title">Section Three</h1>
            <div class="card-container"> <!-- flex container -->
            {{template "card.html"}}
            {{template "card.html"}}
            </div>
        </section>
    </div>

</div>

<!-- Embed Footer -->
{{ template "footer.html" . }}

{{ end }}

