
<!-- material-demo.html -->

{{ define "public/material-demo.html" }}

<!-- Embed Header -->
{{ template "header.html" . }}

    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
          <span class="mdc-top-app-bar__title">>{{ .title }}</span>
        </section>
      </div>
    </header>
    <div id="kamestery">
        <button class="foo-button mdc-button">
            Button
        </button>
    </div>

<!-- Embed Footer -->
{{ template "footer.html" . }}

{{ end }}
