<!-- register.html -->

{{ define "public/register.html" }}

<!-- BEGIN COMMON TEMPLATE CODE -->
{{ template "header.html" . }}
<div class="mdc-drawer-app-content"> <!-- Needed for top app bar functionality-->
{{ template "app-bar.html" . }}
    <main class="main-content" id="main-content">
        <div class="mdc-top-app-bar--fixed-adjust"> <!-- Needed for top app bar functionality-->
<!-- END COMMON TEMPLATE CODE -->

            <form action="/user/register" method="post">
                <input type="hidden" name="_csrf" value="{{ .csrf }}">
                <div class="mdc-text-field mdc-text-field--box username">
                    <input type="text" class="mdc-text-field__input" id="username-input" name="username" required>
                    <label class="mdc-floating-label" for="email-input">Username</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="mdc-text-field mdc-text-field--box email">
                    <input type="email" class="mdc-text-field__input" id="email-input" name="email" required>
                    <label class="mdc-floating-label" for="email-input">Email</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="mdc-text-field mdc-text-field--box password">
                    <input type="password" class="mdc-text-field__input" id="password-input" name="password" required
                           minlength="8">
                    <label class="mdc-floating-label" for="password-input">Password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="mdc-text-field mdc-text-field--box confirm-password">
                    <input type="password" class="mdc-text-field__input" id="confirm-password-input"
                           name="confirm-password"
                           required minlength="8">
                    <label class="mdc-floating-label" for="confirm-password-input">Confirm Password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="form-button-container">
                    <button type="button" class="mdc-button cancel">
                        Cancel
                    </button>
                    <button class="mdc-button mdc-button--raised register">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </main>
</div>

<!-- Embed Footer -->
{{ template "footer.html" . }}

{{ end }}
